In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [10]:
# 1. Load Dataset
df = pd.read_csv("adult.csv")
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
print("Original Shape:", df.shape)

Original Shape: (48842, 15)

In [8]:
print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [12]:
# 2. Identify Categorical & Numerical Features
categorical_cols = df.select_dtypes(include=["object"]).columns.tolist()
numerical_cols = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
print("\nCategorical Columns:", categorical_cols)
print("Numerical Columns:", numerical_cols)

Categorical Columns: ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']
Numerical Columns: ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [21]:
# 3. Label Encoding (for ordered categorical features)
label_enc = LabelEncoder()
if "education" in categorical_cols:
    df["education_label"] = label_enc.fit_transform(df["education"])
    categorical_cols.remove("education") 
print("Updated Categorical Columns:", categorical_cols)
print(df[["education", "education_label"]].head())

Updated Categorical Columns: ['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']
      education  education_label
0          11th                1
1       HS-grad               11
2    Assoc-acdm                7
3  Some-college               15
4  Some-college               15

In [17]:
# 4. One-Hot Encoding (for unordered categorical features)
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
print("\nShape after Encoding:", df_encoded.shape)

Shape after Encoding: (48842, 88)

In [19]:
# 5. Scale Numerical Features using StandardScaler
scaler = StandardScaler()
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

In [23]:
# 6. Compare Before & After Scaling
print("\nBefore Scaling (first 5 rows):")
print(df[numerical_cols].head())
print("\nAfter Scaling (first 5 rows):")
print(df_encoded[numerical_cols].head())

Before Scaling (first 5 rows):
   age  fnlwgt  educational-num  capital-gain  capital-loss  hours-per-week
0   25  226802                7             0             0              40
1   38   89814                9             0             0              50
2   28  336951               12             0             0              40
3   44  160323               10          7688             0              40
4   18  103497               10             0             0              30

After Scaling (first 5 rows):
        age    fnlwgt  educational-num  capital-gain  capital-loss  \
0 -0.995129  0.351675        -1.197259     -0.144804     -0.217127
1 -0.046942 -0.945524        -0.419335     -0.144804     -0.217127
2 -0.776316  1.394723         0.747550     -0.144804     -0.217127
3  0.390683 -0.277844        -0.030373      0.886874     -0.217127
4 -1.505691 -0.815954        -0.030373     -0.144804     -0.217127

   hours-per-week
0       -0.034087
1        0.772930
2       -0.034087
3       -0.034087
4       -0.841104

In [25]:
# 7. Save Processed Dataset
output_path = "adult_preprocessed.csv"
df_encoded.to_csv(output_path, index=False)
print("\nPreprocessed dataset saved as:", output_path)

Preprocessed dataset saved as: adult_preprocessed.csv